VITE_SUPABASE_URL=https://rddufuzsjzschmuyadma.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkZHVmdXpzanpzY2htdXlhZG1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5NDkwNzcsImV4cCI6MjA5ODUyNTA3N30.GlfsqSAoP3DMIDfeRGWIgMsRQCat2-Km8P1L254qCjY
