ErrorDocument 404 /404.html

RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\.robsonsvicero\.com\.br$ [NC]
RewriteRule ^ https://robsonsvicero.com.br%{REQUEST_URI} [R=301,L]

RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^agenda\.html$ /agendamentos [R=301,L]
RewriteRule ^privacidade\.html$ /privacidade [R=301,L]
RewriteRule ^obrigado\.html$ /obrigado [R=301,L]
RewriteRule ^servico-ui-design\.html$ /servicos [R=301,L]
RewriteRule ^servico-front-end\.html$ /servicos [R=301,L]
RewriteRule ^servico-identidade-visual\.html$ /servicos [R=301,L]
RewriteRule ^src/docs/Roberto\ Robson\ Svicero\ -\ Frontend\.pdf$ /sobre [R=301,L,NE]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^ index.html [L]
